.topBar {
  margin: 50px auto 0;
  width: 80%;
  display: flex;
  justify-content: space-between;
}
.question {
  width: 500px;
  height: 100px;
  text-align: center;
  margin: 70px auto;
  font-family: 'MapoHongdaeFreedom';
}

.buttonBox {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.buttonRightMove {
  animation: buttonRightMove 0.8s ease-out;
}

.buttonLeftMove {
  animation: buttonLeftMove 0.8s ease-out;
}

@keyframes buttonRightMove {
  0% {
    transform: translateX(-700px);
    opacity: 1;
  }
  100% {
    transform: translateX(0);
    opacity: 0.9;
  }
}

@keyframes buttonLeftMove {
  0% {
    transform: translateX(0);
    opacity: 0.5;
  }
  100% {
    transform: translateX(700px);
    opacity: 0;
  }
}

@keyframes timer {
  0% {
    color: black;
  }
  100% {
    color: firebrick;
  }
}
